<section class="footer">
  <a href="" class="footer__logo">Log</a>
  <nav class="footer-nav">
    <ul class="footer-nav__list">
      <li class="footer-nav__list">Меню</li>
      <li class="footer-nav__list">Контакти</li>
      <li class="footer-nav__list">О нас</li>
      <li class="footer-nav__list">Портфоліо</li>
      <li>fgfgfg</li>
    </ul>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus veniam
      cupiditate iure quis illum placeat amet vel ut nemo illo.
    </p>
  </nav>
</section>
